.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 24px;
  max-width: 75ch;
}

.header {
  margin-bottom: 24px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.35;
}

.meta {
  display: flex;
  font-size: 14px;
}

.author {
  margin-right: 8px;
}

.date {
  color: rgba(0, 0, 0, 0.54);
}

.figure {
  margin: 0 0 24px;
}

.figure-link {
  display: block;
}
